/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Delius&family=DynaPuff:wght@400..700&family=Fontdiner+Swanky&family=Monsieur+La+Doulaise&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Twinkle+Star&display=swap');

/* Example: Navbar brand using Twinkle Star */
.navbar .navbar-brand {
  font-family: 'Fontdiner Swanky', cursive;
  color: rgb(65, 3, 107);
}

/* Navbar links using Poppins */
.navbar .nav-link {
  font-family: 'Sour Gummy', sans-serif;
}


